// main: ../main.scss
/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials {
  .testimonial-item {
    box-shadow: 0px 2px 12px color-mix(in srgb, var(--default-color), transparent 90%);
    padding: 30px;
    position: relative;
    height: 100%;

    .testimonial-img {
      width: 90px;
      border-radius: 50px;
      border: 6px solid var(--background-color);
      float: left;
      margin: 0 10px 0 0;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 5px 0;
    }

    h4 {
      font-size: 14px;
      color: color-mix(in srgb, var(--default-color), transparent 20%);
      margin: 0;
    }

    .stars {
      margin: 10px 0;

      i {
        color: #ffc107;
        margin: 0 1px;
      }
    }

    .quote-icon-left,
    .quote-icon-right {
      color: color-mix(in srgb, var(--accent-color), transparent 50%);
      font-size: 26px;
      line-height: 0;
    }

    .quote-icon-left {
      display: inline-block;
      left: -5px;
      position: relative;
    }

    .quote-icon-right {
      display: inline-block;
      right: -5px;
      position: relative;
      top: 10px;
      transform: scale(-1, -1);
    }

    p {
      font-style: italic;
      margin: 15px 0 0 0;
      padding: 0;
    }
  }
}