// main: ../main.scss
/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  transition: all 0.5s;
  z-index: 997;
  background-color: var(--background-color);
  box-shadow: 0px 0px 20px 0px color-mix(in srgb, var(--default-color), transparent 90%);

  .topbar {
    background-color: var(--default-color);
    height: 40px;
    padding: 0;
    font-size: 14px;
    transition: all 0.5s;

    .contact-info {
      i {
        font-style: normal;
        color: var(--contrast-color);

        a,
        span {
          padding-left: 5px;
          color: var(--contrast-color);

          @media (max-width: 575px) {
            font-size: 13px;
          }
        }

        a {
          line-height: 0;
          transition: 0.3s;

          &:hover {
            color: var(--contrast-color);
            text-decoration: underline;
          }
        }
      }
    }

    .social-links {
      a {
        color: color-mix(in srgb, var(--contrast-color), transparent 40%);
        line-height: 0;
        transition: 0.3s;
        margin-left: 20px;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }

  .branding {
    padding: 10px 0;
  }

  .logo {
    line-height: 1;

    img {
      max-height: 36px;
      margin-right: 8px;
    }

    h1 {
      font-size: 26px;
      padding: 0 0 0 8px;
      margin: 11px 0;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-left: 8px solid var(--accent-color);
    }
  }
}